CompileFlags:
  Add: 
    [
      '--cuda-gpu-arch=sm_89',
      '--no-cuda-version-check'
    ]
  Remove:
    [
      '-rdc=true',
      '-gencode',
      '--default-stream=per-thread',
      '-Xptxas',
      '-warn-lmem-usage',
      '-warn-spills',
    ] 